<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 class="title">Create Account<h1>
        <section class="form-bg">
            <form action="/login" method="post">
                <label for="email">
                    Enter email
                </label>
                <input type="text" id="email" name="email">
                
                <label for="password">
                    Enter password
                </label>
                <input type="password" id="password" name="password" >

                <button>Create Account</button>
               <a class="post-btn" href="/">Go Back Home</a>
            </form>
        </section>


</body>

</html>