<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="title">Home page</h1>
    <a class="newpost-btn" href="/admin/create-post">Add new post</a>
    <hr>
    <h1 class="title">Posts</h1>
    <% if(postsArr.length === 0) { %>
        <div class="no-post">
            <p>
                No post here! Create new one.
            </p>
        </div>
        <% }%>
    <% for(let post of postsArr) { %>
        <div class="p-bg">
            <p class="p-title">
                <%= post.title %>
            </p>
            <p class="p-des">
                <%= post.description%>
            </p>
            <a href="/post/<%=post._id %>" class="see">See More</a>
        </div>
        <% }%>
</body>

</html>